[submodule "lib/tiny-diffusion"]
	path = lib/tiny-diffusion
	url = https://github.com/tanelp/tiny-diffusion.git
[submodule "lib/mesh2sdf"]
	path = lib/mesh2sdf
	url = https://github.com/wang-ps/mesh2sdf.git
